<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>EKOTRACK</h1>
            </div>
            <ul>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="/login">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required><br>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required><br>
            </div>
            <button type="submit">Login</button>
        </form><br>
        <div class="additional-info">
            <p>Belum punya akun? <a href="/register">Daftar</a></p><br>
            <p>Balik Kehalaman Utama <a href="/">Home</a></p>
        </div>
    </div>

    <footer>
        <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
        <div class="contact-info">
            <p>&copy; 2024 Website. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
