<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wisata Pulau Untung Jawa - Keindahan dan Keunikan Ekosistem Pesisir.">
    <title>Wisata Pulau Untung Jawa</title>
    <link rel="stylesheet" href="wisata.css">
</head>
<body>
    
     <!-- Navbar -->
<header>
    <div class="logo-container">
        <img src="logo.jpeg.png" alt="EkoTrack Logo" class="logo">
        <h1><a href="/">EkoTrack</a></h1>
    </div>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/persebaran">Persebaran Peta</a>
        <a href="/wisata">Wisata</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
    <!-- Hero Section -->
    <section class="hero">
        <div class="background-image"></div> <!-- Background image -->
        <h2>Temukan Keindahan Pulau Untung Jawa</h2>
        <p>Jelajahi keindahan pantai, hutan mangrove, dan budaya lokal yang memukau di Pulau Untung Jawa. Liburan Anda akan semakin berkesan!</p>
    </section>
    


    <!-- Galeri Wisata -->
    <section class="gallery">
        <h2>Galeri Wisata Bawah Air</h2>
        <div class="image-grid">
            <div class="image-item">
           <a href=""><img src="snorkeling.jpg"></a>
                <p>Snorkeling - Jelajahi keindahan bawah laut</p>
            </div>
            <div class="image-item">
                <img src="recovery terumbu karang.jpg" alt="Hutan Mangrove di Pulau Untung Jawa">
                <p>Pemantauan dan Memasang Terumbu baru</p>
            </div>
            <div class="image-item">
                <img src="ikan.jpg" alt="Pantai Pasir Putih di Pulau Untung Jawa">
                <p>Melihat ikan ikan yang eksotis</p>
            </div>
            <div class="image-item">
                <img src="scuba.jpg" alt="Terumbu Karang di Pulau Untung Jawa">
                <p>Scuba Surga bagi penyelam</p>
    </section>

    
    <!-- Footer Section -->
<footer>
    <div class="footer-container">
        <!-- Logo -->
        <div class="footer-logo">
            <img src="upi baru.png" alt="EkoTrack Logo">
        </div>

        <!-- Menu dan Informasi -->
        <div class="footer-content">
            <div class="contact-info">
                <p>Alamat: Kampus UPI Serang, Jl. Ciracas No.38, Serang, Banten</p>
                <p>Email: info@ekotrack.id</p>
                <p>Telepon: +62 123 4567 890</p>
            </div>
            <div class="social-media">
                <a href="#">Instagram</a> | <a href="#">Facebook</a> | <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>